In [4]:
print('fourth cell')

fourth cell

In [7]:
print('hello')

hello

In [15]:
import sys

In [16]:
import os

In [18]:
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [21]:
os.getcwd

In [22]:
os.getcwd()

'C:\\Users\\User\\OneDrive\\Documents\\MB511Dev\\MB511'

In [23]:
os.chdir

In [24]:
%whos

Variable   Type      Data/Info
------------------------------
os         module    <module 'os' from 'C:\\Us<...>\\anaconda3\\lib\\os.py'>
sys        module    <module 'sys' (built-in)>

In [25]:
List=[20,45,65]

In [26]:
print(list)

<class 'list'>

In [27]:
import numpy as np
import pandas as pd

In [30]:
# DataFrame function expects input data in 2-D format
SampleData= [[10,'value1'], 
             [20,'value2'], 
             [30,'value3']
             ]
#SimpleDataFrame=pd.DataFrame(data=SampleData, columns=['Col1','Col2'], index=['a','b','c'])
SimpleDataFrame=pd.DataFrame(data=SampleData, columns=['Col1','Col2'])
print(type(SimpleDataFrame))
SimpleDataFrame

<class 'pandas.core.frame.DataFrame'>

   Col1    Col2
0    10  value1
1    20  value2
2    30  value3